
/* about */
.About{
    background-color: #e3e3e3;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 20px;
   max-height: 100vh;
  }
  .AboutContent{
    flex: 1;
    padding-right: 20px;
  }
  .AboutContent h1{
    color: #333;
    text-transform: uppercase;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 20px;
    margin-top: -50px;
    position: relative;
  }

  .AboutContent h1::after {
    content: ""; /* Required to make the pseudo-element appear */
    display: block; /* Makes the pseudo-element a block-level element */
    width: 20%; /* You can adjust the width of the line as needed */
    height: 1px; /* Thickness of the line */
    background-color: orangered; /* Line color */
   
    margin: 10px auto 0; /* Centers the line and adds some space between the text and the line */
}
  .AboutContent #AboutText{
    color: #343131;
    line-height: 2;
    text-align: left;
    font-family: 12px;
  }
  .AboutImage{
    flex: 1;
  }
  .AboutImage img{
    width: 100%;
  max-width: 100%;
  height: auto;
    border-radius: 10px;
    transition: 0.3s ease;
  }
  
  .AboutImage img:hover{
    transform: scale(1.03);
  }
  @media (max-width:480px){
    .AboutContent h1{
      color: orangered;
      margin-top: 10px;
    }
    .AboutContent h1::after{
      background-color: #333;
    }
    .AboutImage img{
      width: 100%;
      max-width: 90%;
    }
  }
@media(max-width:768px) {

  .About{
    flex-direction: column;
  }
  .AboutContent h1{
    margin-top: 20px;
  }
  .About img{
    width: 100%;
    margin: 0 auto;
    padding: 1.2em;
  }

  .AboutText{
   overflow-wrap: break-word;
    padding: 1.2em;
  }
}